.fonts
  font-family: 'Open Sans', sans-serif

  &_normal
    font-size: 17px

  &_medium
    font-size: 16px

  &_h1
    font-size: 64px

  &_h2
    font-size: 35px

  &_extra
    font-size: 38px

  &_h2-big
    font-size: 44px

  &_h3
    font-size: 28px

  &_link
    font-size: 14px
    font-style: italic

  &_thin
    font-weight: 300



