.img

  &__content
    width: 350px
    height: 350px
    box-sizing: border-box;

    &_circle
      background: #6e5baa
      border: 5px solid #8978B0
      border-radius: 50%

  &__page
    margin-right: 40px
    width: 465px
    height: 286px
    box-sizing: border-box;

    &_square
      background: #6e5baa

  &__double
    width: 150px
    height: 150px

    &_position
      float: left
      padding-left: 100px


