.img

  &__content
    width: 350px
    height: 350px
    box-sizing: border-box;

    &_circle
      border: 5px solid #8978B0
      border-radius: 50%

  &__page
    margin-right: 40px
    width: 465px
    height: 286px
    box-sizing: border-box;

    &_square
      border: 5px solid #8978B0
      background: #6e5baa

  &__double
    width: 150px
    height: 150px

    &_position
      padding-left: 100px

    @media screen and (max-width 1200px)
      float: none

    @media screen and (max-width 480px)
      padding-left: 100px


