html, body, wrapper
    height: 100%

.wrapper

  &_page
    margin: 0 auto
    min-height: 100%
    height: auto
    box-sizing: border-box;

  &__header
    padding-bottom: 150px
    background-image: radial-gradient( at 50% top, rgba(141, 213, 94, 0.6) 0%,rgba(84,90,182,0) 75%),radial-gradient( at right top, #4AA266 0%,rgba(121,74,162,0) 57%)
    background-repeat: no-repeat
    background-size: 100% 1000px
    background-color: #2F632F

  &_content
    width: 80%
    margin: 0 auto
    overflow: hidden

  // &_footer


